<% content_for :page_title, "#{@timeline.title} - 項目編集" %>
<% content_for :header_label, "EDIT" %>

<section class="section">
  <h2 class="section-title">年表項目を編集</h2>
  <%= render "form", timeline: @timeline, event: @event %>
</section>
