<% content_for :page_title, "#{@timeline.title} - 設定" %>
<% content_for :header_label, "SETTINGS" %>

<section class="section">
  <ul class="breadcrumbs">
    <li><%= link_to "ホーム", root_path %></li>
    <li><%= link_to @timeline.title, timeline_path(@timeline) %></li>
    <li><%= link_to "管理・編集", manage_timeline_path(@timeline) %></li>
    <li>設定</li>
  </ul>
  <h2 class="section-title">年表設定</h2>
  <%= render "form", timeline: @timeline %>
</section>
